127.0.0.1	localhost
127.0.1.1	ubuntu1904.localdomain

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

127.0.0.1 ubuntu1904.localdomain

{% for server in groups['zookeeper_nodes'] %}
{{hostvars[server].mgmt_ip}} {{hostvars[server].private_hostname}} 
{% endfor %}

{% for server in groups['brokers'] %}
{{hostvars[server].mgmt_ip}} {{hostvars[server].private_hostname}} 
{% endfor %}

